.Rproj.user
.Rhistory
.RData
.Ruserdata
*.mov
predicted_tracks/*.pdf
*.pdf
*.gif
*.jpg
From_Vicky
crawl_CHPE_prelim.R
coastline_plus_ssi*
crawl premoult new crawl for alice.R
split into trips i think.R
adels_chins_all.csv
Seamask.df
Seamask.prj
Seamask.shx
