.Rproj.user
.Rhistory
.RData
.Ruserdata
*.mov
predicted_tracks/*.pdf
*.pdf
*.gif
*.jpg
From_Vicky
crawl_CHPE_prelim.R
coastline_plus_ssi*
crawl premoult new crawl for alice.R
split into trips i think.R
adels_chins_all.csv
Seamask.df
Seamask.prj
Seamask.shx
.DS_Store
Bathymetry
Bathymetry.zip
Ssi_contours.zip
marmap_coord_-27.96598;-58.41806;-24.623;-57.28708_res_1.csv
marmap_coord_-75;-65;-20;-50_res_1.csv
ne_10m_coastline
wc10
geom_text_contour.R
RClub
Number of chick-rearing trips.xlsx
marmap_coord_-75;-80;-20;-50_res_1.csv
PresBackgroundLocationsWithEnvironmentalVariables.csv
